Q1 Convert an iteger to a floatig-point number.

In [1]:
a = 97
print(a, type(a)) # prints number and its type
a = float(a) # Explicitly type cast integer to float
print(a, type(a)) # prints number and its type

97 <class 'int'>
97.0 <class 'float'>

Q2 Convert a float to an integer

In [2]:
a = 79.9
print(a, type(a)) # prints number and its type
a = int(a) # Explicitly type cast float to integer
print(a, type(a)) # prints number and its type

79.9 <class 'float'>
79 <class 'int'>

Q3 Convert an integer to a string

In [3]:
a = 97
print(a, type(a)) # prints number and its type
a = str(a) # Explicitly type cast integer to string
print(a, type(a)) # prints number and its type

97 <class 'int'>
97 <class 'str'>

Q4 Convert a list to a tuple

In [5]:
nums = [1,2,3,4,5,6,7,8,9] #List of integers
print(nums,type(nums)) 
nums = tuple(nums) # Explicitly type casting list to tuple
print(nums,type(nums))

[1, 2, 3, 4, 5, 6, 7, 8, 9] <class 'list'>
(1, 2, 3, 4, 5, 6, 7, 8, 9) <class 'tuple'>

Q5 Convert a tuple to a list

In [6]:
nums = (1,2,3,4,5,6,7,8,9) #Tuple of integers
print(nums,type(nums)) 
nums = list(nums) # Explicitly type casting tuple to a list
print(nums,type(nums))

(1, 2, 3, 4, 5, 6, 7, 8, 9) <class 'tuple'>
[1, 2, 3, 4, 5, 6, 7, 8, 9] <class 'list'>

Q6 Convert a decimal number to binary

In [8]:
num = 97
print(num," Decimal number")
num = bin(num) # Converting decimal to binary
print(num, " Binary Number")

97  Decimal number
0b1100001  Binary Number

Q7 Convert non-zero number to boolean

In [9]:
num = 7
print(num," Before Conversion")
num = bool(num) # Converting to bool
print(num," After Conversion")

7  Before Conversion
True  After Conversion